In [1]:
import pandas as pd
import numpy as np


rental_1_2 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201801_02.xlsx",encoding='CP949')

In [2]:
rental_1_2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-01-01,0,300,정동사거리,정기권,F,~10대,1,37.32,0.34,1450,23
1,2018-01-01,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,54.83,0.49,2130,15
2,2018-01-01,0,1531,미아사거리 1번 출구,정기권,F,20대,1,78.34,0.73,3140,17
3,2018-01-01,0,516,광진메디칼 앞,정기권,F,20대,1,29.95,0.29,1240,5
4,2018-01-01,0,3508,화양사거리,정기권,F,20대,1,46.09,0.45,1940,43
...,...,...,...,...,...,...,...,...,...,...,...,...
301834,2018-02-28,23,211,여의도역 4번출구 옆,정기권,M,40대,1,25.48,0.23,990,4
301835,2018-02-28,23,1827,독산보도육교 앞 자전거 보관소,정기권,M,40대,1,16.70,0.14,620,2
301836,2018-02-28,23,2202,청계산입구역 1번출구,정기권,M,40대,1,23.56,0.20,850,4
301837,2018-02-28,23,2231,삼성타운(삼성생명) A동 맞은편,일일권,M,20대,1,24.45,0.22,950,5
301838,2018-02-28,23,905,구파발역 2번출구,일일권,M,40대,1,38.41,0.37,1590,7

In [3]:
rental_3_4 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201803_04.xlsx",encoding='CP949')

In [4]:
rental_3_4

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-03-01,0,639,서울시립대 후문,정기권,F,20대,1,40.41,0.36,1570,7
1,2018-03-01,0,1637,KT 노원점 건물 앞,정기권,F,20대,1,24.24,0.28,1200,8
2,2018-03-01,0,2227,방배열린문화센터 앞,정기권,F,20대,1,20.47,0.22,940,6
3,2018-03-01,0,1240,문정 법조단지4,정기권,F,20대,1,22.01,0.25,1090,9
4,2018-03-01,0,609,제기2교,정기권,F,30대,1,23.52,0.23,990,8
...,...,...,...,...,...,...,...,...,...,...,...,...
904816,2018-04-30,23,3508,화양사거리,단체권,M,20대,4,227.65,1.71,7370,126
904817,2018-04-30,23,577,광진청소년수련관,단체권,M,20대,2,168.22,1.23,5310,38
904818,2018-04-30,23,634,외국어대 정문 앞,단체권,M,20대,2,301.60,2.53,10880,68
904819,2018-04-30,23,1405,망우역 1번출구,단체권,M,20대,1,0.00,0.00,0,10
904820,2018-04-30,23,1625,상계역(4번출구),단체권,M,20대,2,310.42,2.80,12060,107

In [5]:
rental_5 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201805.xlsx",encoding='CP949')

In [6]:
rental_5

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-05-01,0,737,장수공원,정기권,F,~10대,1,112.17,1.19,5150,26
1,2018-05-01,0,1442,(구)신한은행 중랑교지점,정기권,F,~10대,1,31.71,0.33,1430,9
2,2018-05-01,0,277,영등포뉴타운지하상가 2번게이트,정기권,F,~10대,1,38.55,0.41,1770,55
3,2018-05-01,0,551,구의삼성쉐르빌 앞,정기권,F,~10대,1,10.87,0.14,610,3
4,2018-05-01,0,1503,이디야 커피 수유역점 앞,정기권,F,~10대,1,69.30,0.58,2500,15
...,...,...,...,...,...,...,...,...,...,...,...,...
707083,2018-05-31,23,1226,잠실4동 주민센터 옆,일일권,M,70대~,1,27.24,0.20,860,57
707084,2018-05-31,23,2228,뒷벌공원 옆,단체권,F,20대,2,156.76,1.41,6090,56
707085,2018-05-31,23,1158,가양역 8번출구,단체권,F,30대,1,301.06,3.39,14620,87
707086,2018-05-31,23,2135,신림역 5번출구,단체권,M,20대,2,93.44,0.85,3630,19
707087,2018-05-31,23,1344,아리랑시네센터 앞,단체권,M,30대,1,279.28,2.52,10850,44

In [7]:
rental_6 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201806.xlsx",encoding='CP949')

In [8]:
rental_6

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-06-01,0,1720,도봉구청 옆(중랑천변),정기권,F,~10대,1,259.46,2.17,9360,60
1,2018-06-01,0,130,신촌역(2호선) 7번출구 앞,정기권,F,~10대,1,28.31,0.26,1100,12
2,2018-06-01,0,2107,도림천 신화교,정기권,F,~10대,1,39.60,0.29,1250,12
3,2018-06-01,0,2217,아크로리버뷰 부지 앞,정기권,F,~10대,1,234.49,2.11,9110,48
4,2018-06-01,0,1328,월곡역 3번출구,정기권,F,~10대,1,249.19,3.17,13680,98
...,...,...,...,...,...,...,...,...,...,...,...,...
896882,2018-06-30,23,1210,롯데월드타워(잠실역2번출구 쪽),단체권,F,40대,2,135.83,1.59,6860,90
896883,2018-06-30,23,747,목동3단지 상가,단체권,M,20대,2,225.06,1.78,7680,34
896884,2018-06-30,23,3509,세종사이버대학교,단체권,M,20대,2,706.57,6.36,27450,216
896885,2018-06-30,23,1122,황금내근린공원,단체권,M,20대,2,515.21,3.87,16680,97
896886,2018-06-30,23,170,가재울 뉴타운 주유소 옆,단체권,M,40대,2,329.21,2.97,12790,95

In [9]:
rental_7 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201807.xlsx",encoding='CP949')

In [10]:
rental_7

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-07-01,0,516,광진메디칼 앞,정기권,F,~10대,1,109.55,1.17,5030,55
1,2018-07-01,0,906,연신내역 5번출구150M 아래,정기권,F,~10대,1,72.74,0.76,3280,32
2,2018-07-01,0,1018,둔촌 주공 GS 맞은편,정기권,F,~10대,1,35.24,0.41,1780,55
3,2018-07-01,0,108,서교동 사거리,정기권,F,20대,1,107.08,0.97,4160,29
4,2018-07-01,0,744,신목동역 2번 출구,정기권,F,20대,1,33.98,0.33,1430,8
...,...,...,...,...,...,...,...,...,...,...,...,...
734455,2018-07-31,23,1265,문정동 근린공원,일일권,M,60대,1,38.73,0.38,1630,26
734456,2018-07-31,23,227,양평2나들목 보행통로 입구,단체권,M,~10대,2,637.84,5.75,24780,109
734457,2018-07-31,23,1908,해원리바파크 육교 밑,단체권,M,~10대,2,268.27,2.16,9280,50
734458,2018-07-31,23,207,여의나루역 1번출구 앞,단체권,M,20대,3,546.37,4.58,19710,168
734459,2018-07-31,23,2217,아크로리버뷰 부지 앞,단체권,M,30대,2,299.21,1.79,7710,61

In [11]:
rental_8 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201808.xlsx",encoding='CP949')

In [12]:
rental_8

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2018-08-01,0,1361,홍익중고 입구,정기권,F,~10대,1,44.79,0.40,1740,11
1,2018-08-01,0,165,중앙근린공원,정기권,F,~10대,1,226.01,2.76,11890,74
2,2018-08-01,0,704,남부법원검찰청 교차로,정기권,F,~10대,1,40.19,0.34,1450,6
3,2018-08-01,0,1139,용문사 버스정류장,정기권,F,~10대,1,27.09,0.28,1200,9
4,2018-08-01,0,1503,이디야 커피 수유역점 앞,정기권,F,~10대,1,83.40,0.75,3240,17
...,...,...,...,...,...,...,...,...,...,...,...,...
651882,2018-08-31,23,272,당산육갑문,단체권,F,20대,2,850.72,7.12,30690,133
651883,2018-08-31,23,1248,방이초등학교,단체권,F,20대,2,266.31,3.12,13450,88
651884,2018-08-31,23,1224,아시아지하보도 2번 출구,단체권,F,30대,1,72.33,0.65,2810,35
651885,2018-08-31,23,1530,광산사거리,단체권,M,20대,1,314.68,2.14,9240,51
651886,2018-08-31,23,194,증산교 앞,단체권,M,20대,2,144.40,1.30,5610,32

In [13]:
rental_9 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201809.xlsx",encoding='CP949')

In [14]:
rental_10 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201810.xlsx",encoding='CP949')

In [15]:
rental_11 = pd.read_excel("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201811.xlsx",encoding='CP949')

In [16]:
rental_12 = pd.read_csv("C:/Users/KimMinyoung/Downloads/서울특별시 공공자전거 시간대별 대여정보_201812_201905(1).csv",encoding='CP949')

In [17]:
rental_12=rental_12[:460036] # 2019년도 데이터 제거
rental_12

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2018-12-01,0,1721,1721. 창동역 2번출구,정기권,\N,~10대,1,25.95,0.26,1130.0,4
1,2018-12-01,0,3511,3511. 응봉역 1번출구,정기권,\N,~10대,1,52.59,0.39,1660.0,72
2,2018-12-01,0,1975,1975. 대림역 1번 출입구 밑,정기권,\N,~10대,1,136.26,1.17,5060.0,21
3,2018-12-01,0,110,110. 사천교,정기권,\N,~10대,1,17.76,0.16,690.0,2
4,2018-12-01,0,749,749. 이대 목동병원 앞,정기권,\N,~10대,1,95.67,0.70,3020.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...
460031,2018-12-31,23,1623,1623. 노원 구민회관,일일권,M,30대,1,38.00,0.23,1010.0,6
460032,2018-12-31,23,394,394. 경희궁 자이 3단지,일일권,M,40대,1,64.86,0.54,2340.0,26
460033,2018-12-31,23,207,207. 여의나루역 1번출구 앞,단체권,\N,~10대,2,786.85,4.61,19870.0,103
460034,2018-12-31,23,338,338. 세운스퀘어 앞,단체권,F,30대,2,30.60,0.32,1380.0,14
460035,2018-12-31,23,1308,1308. 안암로터리 버스정류장 앞,단체권,M,20대,2,283.09,1.96,8410.0,46

In [18]:
rental = pd.concat([rental_1_2,rental_3_4,rental_5,rental_6,rental_7,rental_8,rental_9,rental_10,rental_11,rental_12])

In [19]:
rental

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간,사용시간
0,2018-01-01 00:00:00,0,300,정동사거리,정기권,F,~10대,1,37.32,0.34,1450.0,23.0,NaN
1,2018-01-01 00:00:00,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,54.83,0.49,2130.0,15.0,NaN
2,2018-01-01 00:00:00,0,1531,미아사거리 1번 출구,정기권,F,20대,1,78.34,0.73,3140.0,17.0,NaN
3,2018-01-01 00:00:00,0,516,광진메디칼 앞,정기권,F,20대,1,29.95,0.29,1240.0,5.0,NaN
4,2018-01-01 00:00:00,0,3508,화양사거리,정기권,F,20대,1,46.09,0.45,1940.0,43.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460031,2018-12-31,23,1623,1623. 노원 구민회관,일일권,M,30대,1,38.00,0.23,1010.0,NaN,6.0
460032,2018-12-31,23,394,394. 경희궁 자이 3단지,일일권,M,40대,1,64.86,0.54,2340.0,NaN,26.0
460033,2018-12-31,23,207,207. 여의나루역 1번출구 앞,단체권,\N,~10대,2,786.85,4.61,19870.0,NaN,103.0
460034,2018-12-31,23,338,338. 세운스퀘어 앞,단체권,F,30대,2,30.60,0.32,1380.0,NaN,14.0
460035,2018-12-31,23,1308,1308. 안암로터리 버스정류장 앞,단체권,M,20대,2,283.09,1.96,8410.0,NaN,46.0

In [20]:
rental = rental.rename(columns={"대여일자":'DATE', "대여시간":"TIME","대여소번호":'PLACE_ID',"대여소명":'PLACE_NAME', "대여구분코드":'MEMBER',"성별":'SEX', "연령대코드":'AGE',"이용건수":'USE_COUNT',"운동량":'EXERCISE',"탄소량":'CARBON',"이동거리":'DISTANCE',"이동시간":'DURING_MINUTES','사용시간':'USE_MINUTES'})

In [21]:
rental.head(100)

,DATE,TIME,PLACE_ID,PLACE_NAME,MEMBER,SEX,AGE,USE_COUNT,EXERCISE,CARBON,DISTANCE,DURING_MINUTES,USE_MINUTES
0,2018-01-01 00:00:00,0,300,정동사거리,정기권,F,~10대,1,37.32,0.34,1450.0,23.0,NaN
1,2018-01-01 00:00:00,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,54.83,0.49,2130.0,15.0,NaN
2,2018-01-01 00:00:00,0,1531,미아사거리 1번 출구,정기권,F,20대,1,78.34,0.73,3140.0,17.0,NaN
3,2018-01-01 00:00:00,0,516,광진메디칼 앞,정기권,F,20대,1,29.95,0.29,1240.0,5.0,NaN
4,2018-01-01 00:00:00,0,3508,화양사거리,정기권,F,20대,1,46.09,0.45,1940.0,43.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018-01-01 00:00:00,0,346,맥스타일 앞,정기권,M,30대,1,142.08,1.28,5520.0,38.0,NaN
96,2018-01-01 00:00:00,0,361,동묘앞역 1번출구 뒤,정기권,M,30대,1,25.25,0.20,850.0,4.0,NaN
97,2018-01-01 00:00:00,0,378,청계7가 사거리,정기권,M,30대,1,52.25,0.47,2030.0,11.0,NaN
98,2018-01-01 00:00:00,0,383,신당역 12번 출구 뒤,정기권,M,30대,1,70.98,0.55,2390.0,14.0,NaN
99,2018-01-01 00:00:00,0,151,망원1동주민센터,정기권,M,30대,1,50.66,0.57,2460.0,15.0,NaN

In [22]:
rental

,DATE,TIME,PLACE_ID,PLACE_NAME,MEMBER,SEX,AGE,USE_COUNT,EXERCISE,CARBON,DISTANCE,DURING_MINUTES,USE_MINUTES
0,2018-01-01 00:00:00,0,300,정동사거리,정기권,F,~10대,1,37.32,0.34,1450.0,23.0,NaN
1,2018-01-01 00:00:00,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,54.83,0.49,2130.0,15.0,NaN
2,2018-01-01 00:00:00,0,1531,미아사거리 1번 출구,정기권,F,20대,1,78.34,0.73,3140.0,17.0,NaN
3,2018-01-01 00:00:00,0,516,광진메디칼 앞,정기권,F,20대,1,29.95,0.29,1240.0,5.0,NaN
4,2018-01-01 00:00:00,0,3508,화양사거리,정기권,F,20대,1,46.09,0.45,1940.0,43.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460031,2018-12-31,23,1623,1623. 노원 구민회관,일일권,M,30대,1,38.00,0.23,1010.0,NaN,6.0
460032,2018-12-31,23,394,394. 경희궁 자이 3단지,일일권,M,40대,1,64.86,0.54,2340.0,NaN,26.0
460033,2018-12-31,23,207,207. 여의나루역 1번출구 앞,단체권,\N,~10대,2,786.85,4.61,19870.0,NaN,103.0
460034,2018-12-31,23,338,338. 세운스퀘어 앞,단체권,F,30대,2,30.60,0.32,1380.0,NaN,14.0
460035,2018-12-31,23,1308,1308. 안암로터리 버스정류장 앞,단체권,M,20대,2,283.09,1.96,8410.0,NaN,46.0

In [23]:
rental['DATE']= pd.to_datetime(rental['DATE'])

In [24]:
rental['DATE']=rental['DATE'].astype(str)

In [25]:
rental['DATE']= rental['DATE'].str.slice(start=0,stop=10)

In [26]:
rental['DATE']= rental['DATE'].str.replace('-','')

In [27]:
rental

,DATE,TIME,PLACE_ID,PLACE_NAME,MEMBER,SEX,AGE,USE_COUNT,EXERCISE,CARBON,DISTANCE,DURING_MINUTES,USE_MINUTES
0,20180101,0,300,정동사거리,정기권,F,~10대,1,37.32,0.34,1450.0,23.0,NaN
1,20180101,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,54.83,0.49,2130.0,15.0,NaN
2,20180101,0,1531,미아사거리 1번 출구,정기권,F,20대,1,78.34,0.73,3140.0,17.0,NaN
3,20180101,0,516,광진메디칼 앞,정기권,F,20대,1,29.95,0.29,1240.0,5.0,NaN
4,20180101,0,3508,화양사거리,정기권,F,20대,1,46.09,0.45,1940.0,43.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460031,20181231,23,1623,1623. 노원 구민회관,일일권,M,30대,1,38.00,0.23,1010.0,NaN,6.0
460032,20181231,23,394,394. 경희궁 자이 3단지,일일권,M,40대,1,64.86,0.54,2340.0,NaN,26.0
460033,20181231,23,207,207. 여의나루역 1번출구 앞,단체권,\N,~10대,2,786.85,4.61,19870.0,NaN,103.0
460034,20181231,23,338,338. 세운스퀘어 앞,단체권,F,30대,2,30.60,0.32,1380.0,NaN,14.0
460035,20181231,23,1308,1308. 안암로터리 버스정류장 앞,단체권,M,20대,2,283.09,1.96,8410.0,NaN,46.0

## PICKLE 파일 저장

DATA의 크기가 약 677만개로 엑셀 최대 RAWS 수를 초과하기 때문에 엑셀로 저장하기 어려우므로 PICKLE파일로 저장

In [28]:
import pickle

f1 = open("rental.pkl",'wb')
pickle.dump(rental,f1)
f1.close()

In [29]:
f = open("rental.pkl", "rb")
rental= pickle.load(f)
f.close()
rental

,DATE,TIME,PLACE_ID,PLACE_NAME,MEMBER,SEX,AGE,USE_COUNT,EXERCISE,CARBON,DISTANCE,DURING_MINUTES,USE_MINUTES
0,20180101,0,300,정동사거리,정기권,F,~10대,1,37.32,0.34,1450.0,23.0,NaN
1,20180101,0,505,자양사거리 광진아크로텔 앞,정기권,F,20대,1,54.83,0.49,2130.0,15.0,NaN
2,20180101,0,1531,미아사거리 1번 출구,정기권,F,20대,1,78.34,0.73,3140.0,17.0,NaN
3,20180101,0,516,광진메디칼 앞,정기권,F,20대,1,29.95,0.29,1240.0,5.0,NaN
4,20180101,0,3508,화양사거리,정기권,F,20대,1,46.09,0.45,1940.0,43.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
460031,20181231,23,1623,1623. 노원 구민회관,일일권,M,30대,1,38.00,0.23,1010.0,NaN,6.0
460032,20181231,23,394,394. 경희궁 자이 3단지,일일권,M,40대,1,64.86,0.54,2340.0,NaN,26.0
460033,20181231,23,207,207. 여의나루역 1번출구 앞,단체권,\N,~10대,2,786.85,4.61,19870.0,NaN,103.0
460034,20181231,23,338,338. 세운스퀘어 앞,단체권,F,30대,2,30.60,0.32,1380.0,NaN,14.0
460035,20181231,23,1308,1308. 안암로터리 버스정류장 앞,단체권,M,20대,2,283.09,1.96,8410.0,NaN,46.0