# Data Preprocessing

데이터를 일관된 형태로 변경 및 필요없는 열을 제거하여 csv형식으로 저장


## 목차
### 1. PLACE
따릉이 자전거 대여소 관련 데이터
### 2. WEATHER
날씨 데이터
### 3. DUST
미세먼지 데이터

### 4. RENTAL
대여정보 데이터

### 5. 최종데이터 형태 정리

# 1. PLACE

In [44]:
import pandas as pd
import numpy as np

In [52]:
rental_place = pd.read_csv("C:/Users/KimMinyoung/Desktop/2020-1학기/데이터베이스/dataset/서울시공공자전거대여소정보_20181129.csv",encoding='CP949')

In [56]:
rental_place

,연번,구분,대여소ID,대여소번호,대여소명,거치대수,위도,경도
0,1,강남구,ST-799,2315,2315. 봉은사역 5번출구 옆,10,37.514248,127.061119
1,2,강남구,ST-1174,2365,2365. K+ 타워 앞,15,37.523300,127.038475
2,3,강남구,ST-796,2313,2313. 금원빌딩 앞,10,37.525116,127.052467
3,4,강남구,ST-961,2347,2347. 두산건설 본사,15,37.518639,127.035400
4,5,강남구,ST-1171,2362,2362. 신사동 가로수길 입구,10,37.517635,127.022453
...,...,...,...,...,...,...,...,...
1448,1449,중랑구,ST-585,1420,1420. 신내어울공원 앞,15,37.614231,127.096764
1449,1450,중랑구,ST-942,1440,1440. 하나은행 면목지점,10,37.586372,127.080070
1450,1451,중랑구,ST-1346,1454,1454. 한국전력공사(동대문 중랑지사),10,37.607349,127.078590
1451,1452,중랑구,ST-1452,1459,1459. 용마한신아파트사거리,10,37.580349,127.092651
1452,1453,중랑구,ST-1380,1456,1456. 상아빌딩(우림시장 교차로),10,37.595112,127.100327

In [181]:
place= rental_place.rename(columns={' 구분':'LOCATION_GU', '대여소번호':'PLACE_ID', '대여소명':'PLACE_NAME','거치대수':'BIKE_HOLDER_COUNT','위도':'LATITUDE','경도':'LONGTITUDE'})
place = place.drop(['연번','대여소ID'],axis=1)
place

,LOCATION_GU,PLACE_ID,PLACE_NAME,BIKE_HOLDER_COUNT,LATITUDE,LONGTITUDE
0,강남구,2315,2315. 봉은사역 5번출구 옆,10,37.514248,127.061119
1,강남구,2365,2365. K+ 타워 앞,15,37.523300,127.038475
2,강남구,2313,2313. 금원빌딩 앞,10,37.525116,127.052467
3,강남구,2347,2347. 두산건설 본사,15,37.518639,127.035400
4,강남구,2362,2362. 신사동 가로수길 입구,10,37.517635,127.022453
...,...,...,...,...,...,...
1448,중랑구,1420,1420. 신내어울공원 앞,15,37.614231,127.096764
1449,중랑구,1440,1440. 하나은행 면목지점,10,37.586372,127.080070
1450,중랑구,1454,1454. 한국전력공사(동대문 중랑지사),10,37.607349,127.078590
1451,중랑구,1459,1459. 용마한신아파트사거리,10,37.580349,127.092651
1452,중랑구,1456,1456. 상아빌딩(우림시장 교차로),10,37.595112,127.100327

-> place name 앞에 place id가 들어가있다. 따라서 아래와 같이 정규표현식을 사용하여 제거해줄 수 있다.

In [311]:
place['PLACE_NAME']= place['PLACE_NAME'].str.replace(r"[\d.]",'')

In [312]:
place

,LOCATION_GU,PLACE_ID,PLACE_NAME,BIKE_HOLDER_COUNT,LATITUDE,LONGTITUDE
0,강남구,2315,봉은사역 번출구 옆,10,37.514248,127.061119
1,강남구,2365,K+ 타워 앞,15,37.523300,127.038475
2,강남구,2313,금원빌딩 앞,10,37.525116,127.052467
3,강남구,2347,두산건설 본사,15,37.518639,127.035400
4,강남구,2362,신사동 가로수길 입구,10,37.517635,127.022453
...,...,...,...,...,...,...
1448,중랑구,1420,신내어울공원 앞,15,37.614231,127.096764
1449,중랑구,1440,하나은행 면목지점,10,37.586372,127.080070
1450,중랑구,1454,한국전력공사(동대문 중랑지사),10,37.607349,127.078590
1451,중랑구,1459,용마한신아파트사거리,10,37.580349,127.092651
1452,중랑구,1456,상아빌딩(우림시장 교차로),10,37.595112,127.100327

# 2. WEATHER

In [242]:
weather = pd.read_excel("C:/Users/KimMinyoung/Desktop/2020-1학기/데이터베이스/dataset/일별기상관측_2018.xlsx",encoding='CP949')

In [243]:
weather

,관측일자,지점명,평균기온(℃),최저기온(℃),최대기온(℃),평균습도(%),최저습도(%),최고습도(%),평균풍속(m/s),최대풍속(m/s),강수량(mm)
0,20180101,남산,-0.5,-3.6,3.2,29.200001,22.500000,46.000000,1.3,3.2,0.0
1,20180101,동대문,-0.1,-4.1,3.8,44.500000,27.799999,61.099998,1.5,4.8,0.0
2,20180101,성북,-0.3,-3.5,3.5,35.599998,19.299999,54.900002,0.9,4.2,0.0
3,20180101,도봉,-1.6,-6.3,3.9,50.000000,25.900000,73.800003,0.5,2.8,0.0
4,20180101,마포,-1.0,-4.8,3.8,52.000000,28.000000,73.900002,0.8,3.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7452,20181231,용산,-3.6,-7.7,0.1,35.700001,14.200000,54.500000,1.1,4.0,0.0
7453,20181231,중구,-5.4,-10.2,-1.1,41.099998,18.299999,57.400002,1.1,4.5,0.0
7454,20181231,은평,-5.3,-9.3,-0.9,40.900002,21.299999,52.599998,1.1,3.9,0.0
7455,20181231,동작,-3.8,-7.2,-0.5,42.400002,20.700001,60.200001,1.3,4.3,0.0
7456,20181231,강동,-4.2,-9.0,0.2,26.000000,0.000000,48.900002,1.1,3.9,0.0

지점명 columns를 보면 남산을 제외하고는 모두 서울시 00구 이름이다. 따라서 이를 아래와 같이 구를 붙여줄 수 있다.

In [244]:
weather['지점명'] = weather['지점명']+'구'
weather

,관측일자,지점명,평균기온(℃),최저기온(℃),최대기온(℃),평균습도(%),최저습도(%),최고습도(%),평균풍속(m/s),최대풍속(m/s),강수량(mm)
0,20180101,남산구,-0.5,-3.6,3.2,29.200001,22.500000,46.000000,1.3,3.2,0.0
1,20180101,동대문구,-0.1,-4.1,3.8,44.500000,27.799999,61.099998,1.5,4.8,0.0
2,20180101,성북구,-0.3,-3.5,3.5,35.599998,19.299999,54.900002,0.9,4.2,0.0
3,20180101,도봉구,-1.6,-6.3,3.9,50.000000,25.900000,73.800003,0.5,2.8,0.0
4,20180101,마포구,-1.0,-4.8,3.8,52.000000,28.000000,73.900002,0.8,3.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7452,20181231,용산구,-3.6,-7.7,0.1,35.700001,14.200000,54.500000,1.1,4.0,0.0
7453,20181231,중구구,-5.4,-10.2,-1.1,41.099998,18.299999,57.400002,1.1,4.5,0.0
7454,20181231,은평구,-5.3,-9.3,-0.9,40.900002,21.299999,52.599998,1.1,3.9,0.0
7455,20181231,동작구,-3.8,-7.2,-0.5,42.400002,20.700001,60.200001,1.3,4.3,0.0
7456,20181231,강동구,-4.2,-9.0,0.2,26.000000,0.000000,48.900002,1.1,3.9,0.0

In [245]:
weather.columns

Index(['관측일자', '지점명', '평균기온(℃)', '최저기온(℃)', '최대기온(℃)', '평균습도(%)', '최저습도(%)',
       '최고습도(%)', '평균풍속(m/s)', '최대풍속(m/s)', '강수량(mm)'],
      dtype='object')

In [319]:
weather= weather.rename(columns={'관측일자':'DATE', '지점명':'LOCATION_GU', '평균기온(℃)':'TEMPERATURE','평균습도(%)':'HUMID', '평균풍속(m/s)':'WIND', '강수량(mm)':'PRECIPITATION'})
weather = weather.drop(['최저기온(℃)', '최대기온(℃)', '최저습도(%)','최대풍속(m/s)',
       '최고습도(%)'],axis=1)

In [247]:
weather['LOCATION_GU'].unique()

array(['남산구', '동대문구', '성북구', '도봉구', '마포구', '구로구', '강남구', '서대문구', '금천구',
       '양천구', '노원구', '광진구', '강북구', '송파구', '용산구', '성동구', '중랑구', '중구구',
       '은평구', '동작구', '관악구', '강동구', '서초구', '종로구', '영등포구'], dtype=object)

In [ ]:
weather['LOCATION_GU'][weather['LOCATION_GU']=='중구구'] = '중구'
weather['LOCATION_GU'][weather['LOCATION_GU']=='남산구'] = '남산'
weather['LOCATION_GU'].unique()

In [252]:
weather['LOCATION_GU'].value_counts()

강남구     343
마포구     343
강북구     343
성북구     343
은평구     343
중구      343
동작구     343
구로구     343
강동구     343
용산구     343
동대문구    343
광진구     343
중랑구     331
도봉구     331
양천구     320
성동구     314
노원구     307
서초구     294
서대문구    284
송파구     278
남산      214
관악구     194
영등포구    184
금천구     164
종로구     126
Name: LOCATION_GU, dtype: int64

-> count를 살펴보면 data에 약간의 결측값이 존재하긴 하다는 것을 볼 수 있음

In [327]:
weather

          DATE LOCATION_GU  TEMPERATURE      HUMID  WIND  PRECIPITATION
0     20180101          남산         -0.5  29.200001   1.3            0.0
1     20180101        동대문구         -0.1  44.500000   1.5            0.0
2     20180101         성북구         -0.3  35.599998   0.9            0.0
3     20180101         도봉구         -1.6  50.000000   0.5            0.0
4     20180101         마포구         -1.0  52.000000   0.8            0.0
...        ...         ...          ...        ...   ...            ...
7452  20181231         용산구         -3.6  35.700001   1.1            0.0
7453  20181231          중구         -5.4  41.099998   1.1            0.0
7454  20181231         은평구         -5.3  40.900002   1.1            0.0
7455  20181231         동작구         -3.8  42.400002   1.3            0.0
7456  20181231         강동구         -4.2  26.000000   1.1            0.0

[7457 rows x 6 columns]

# 3. DUST 

미세먼지 data set

In [254]:
dust = pd.read_csv("C:/Users/KimMinyoung/Desktop/2020-1학기/데이터베이스/dataset/기간별_일평균_대기환경_정보_2018년.csv",encoding='CP949')

In [255]:
dust

,측정일자,권역코드,권역명,측정소코드,측정소명,미세먼지(㎍/㎥),초미세먼지(㎍/㎥),오존(ppm),이산화질소농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm)
0,20180101,100,도심권,111121,중구,32,18,0.015,0.028,0.5,0.005
1,20180101,104,동남권,111273,송파구,52,23,0.013,0.028,0.7,0.004
2,20180101,104,동남권,111262,서초구,49,24,0.011,0.031,0.6,0.005
3,20180101,104,동남권,111261,강남구,34,22,0.010,0.033,0.6,0.006
4,20180101,103,서남권,111301,양천구,37,21,0.008,0.037,0.7,0.005
...,...,...,...,...,...,...,...,...,...,...,...
7620,20181231,102,동북권,111152,동대문구,50,42,0.007,0.042,0.9,0.007
7621,20181231,102,동북권,111151,중랑구,45,31,0.007,0.036,0.7,0.007
7622,20181231,102,동북권,111142,성동구,54,34,0.005,0.043,0.7,0.004
7623,20181231,102,동북권,111141,광진구,41,26,0.004,0.042,1.1,0.004
7624,20181231,101,서북권,111201,마포구,49,19,0.008,0.030,0.7,0.003

In [256]:
DUST.columns

Index(['측정일자', '권역코드', '권역명', '측정소코드', '측정소명', '미세먼지(㎍/㎥)', '초미세먼지(㎍/㎥)',
       '오존(ppm)', '이산화질소농도(ppm)', '일산화탄소농도(ppm)', '아황산가스농도(ppm)'],
      dtype='object')

In [258]:
DUST= dust.rename(columns={'측정일자':'DATE', '측정소명':'LOCATION_GU','미세먼지(㎍/㎥)':'FINEDUST', '초미세먼지(㎍/㎥)':'ULTRAFINEDUST','오존(ppm)':'OZONE', '이산화질소농도(ppm)':'NO2','일산화탄소농도(ppm)':'CO','아황산가스농도(ppm)':'SO2'})
DUST = DUST.drop(['권역코드', '권역명','측정소코드'],axis=1)
DUST

          DATE LOCATION_GU  FINEDUST  ULTRAFINEDUST  OZONE    NO2   CO    SO2
0     20180101          중구        32             18  0.015  0.028  0.5  0.005
1     20180101         송파구        52             23  0.013  0.028  0.7  0.004
2     20180101         서초구        49             24  0.011  0.031  0.6  0.005
3     20180101         강남구        34             22  0.010  0.033  0.6  0.006
4     20180101         양천구        37             21  0.008  0.037  0.7  0.005
...        ...         ...       ...            ...    ...    ...  ...    ...
7620  20181231        동대문구        50             42  0.007  0.042  0.9  0.007
7621  20181231         중랑구        45             31  0.007  0.036  0.7  0.007
7622  20181231         성동구        54             34  0.005  0.043  0.7  0.004
7623  20181231         광진구        41             26  0.004  0.042  1.1  0.004
7624  20181231         마포구        49             19  0.008  0.030  0.7  0.003

[7625 rows x 8 columns]

# 4. RENTAL

-> Preprocessing_rental.ipynb 참조

# 최종 데이터 저장

### 1. PLACE

In [329]:
place.to_csv("PLACE.csv",encoding='utf-8-sig')
place

,LOCATION_GU,PLACE_ID,PLACE_NAME,BIKE_HOLDER_COUNT,LATITUDE,LONGTITUDE
0,강남구,2315,봉은사역 번출구 옆,10,37.514248,127.061119
1,강남구,2365,K+ 타워 앞,15,37.523300,127.038475
2,강남구,2313,금원빌딩 앞,10,37.525116,127.052467
3,강남구,2347,두산건설 본사,15,37.518639,127.035400
4,강남구,2362,신사동 가로수길 입구,10,37.517635,127.022453
...,...,...,...,...,...,...
1448,중랑구,1420,신내어울공원 앞,15,37.614231,127.096764
1449,중랑구,1440,하나은행 면목지점,10,37.586372,127.080070
1450,중랑구,1454,한국전력공사(동대문 중랑지사),10,37.607349,127.078590
1451,중랑구,1459,용마한신아파트사거리,10,37.580349,127.092651
1452,중랑구,1456,상아빌딩(우림시장 교차로),10,37.595112,127.100327

### 2. WEATHER

In [327]:
weather.to_csv("WEATHER.csv",encoding='utf-8-sig')
weather

          DATE LOCATION_GU  TEMPERATURE      HUMID  WIND  PRECIPITATION
0     20180101          남산         -0.5  29.200001   1.3            0.0
1     20180101        동대문구         -0.1  44.500000   1.5            0.0
2     20180101         성북구         -0.3  35.599998   0.9            0.0
3     20180101         도봉구         -1.6  50.000000   0.5            0.0
4     20180101         마포구         -1.0  52.000000   0.8            0.0
...        ...         ...          ...        ...   ...            ...
7452  20181231         용산구         -3.6  35.700001   1.1            0.0
7453  20181231          중구         -5.4  41.099998   1.1            0.0
7454  20181231         은평구         -5.3  40.900002   1.1            0.0
7455  20181231         동작구         -3.8  42.400002   1.3            0.0
7456  20181231         강동구         -4.2  26.000000   1.1            0.0

[7457 rows x 6 columns]

### 3. DUST

In [328]:
DUST.to_csv("DUST.csv",encoding='utf-8-sig')
DUST

          DATE LOCATION_GU  FINEDUST  ULTRAFINEDUST  OZONE    NO2   CO    SO2
0     20180101          중구        32             18  0.015  0.028  0.5  0.005
1     20180101         송파구        52             23  0.013  0.028  0.7  0.004
2     20180101         서초구        49             24  0.011  0.031  0.6  0.005
3     20180101         강남구        34             22  0.010  0.033  0.6  0.006
4     20180101         양천구        37             21  0.008  0.037  0.7  0.005
...        ...         ...       ...            ...    ...    ...  ...    ...
7620  20181231        동대문구        50             42  0.007  0.042  0.9  0.007
7621  20181231         중랑구        45             31  0.007  0.036  0.7  0.007
7622  20181231         성동구        54             34  0.005  0.043  0.7  0.004
7623  20181231         광진구        41             26  0.004  0.042  1.1  0.004
7624  20181231         마포구        49             19  0.008  0.030  0.7  0.003

[7625 rows x 8 columns]

### 4. RENTAL

-> preprocessing_rental.ipynb 참조